body{
  font-family: 'Oswald', sans-serif;
  background:#a9e1fa;;
}


a{
  text-decoration:none;
  color:#fff;
  width:150px;
  display:inline-block;
  text-align:center;
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
}

div{
  width:150px; 
  height:2px;
  background:red;
}

a:nth-child(1) ~ div{
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
  
}

a:nth-child(2):hover ~ div {
  transform:translate(150px);
  -webkit-transform:translate(150px);
  background-color:#e74c3c;
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
}





a:nth-child(3):hover ~ div {
  transform:translate(150px);
  -webkit-transform:translate(300px);
  background-color:#BF55EC;
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
}


a:nth-child(4):hover ~ div {
  transform:translate(150px);
  -webkit-transform:translate(450px);
  background-color:#f39c12;
  color:#03C9A9;
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
}
a:nth-child(5):hover ~ div {
  transform:translate(150px);
  -webkit-transform:translate(600px);
  background-color:#f39c12;
  color:#03C9A9;
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
}
a:nth-child(6):hover ~ div {
  transform:translate(150px);
  -webkit-transform:translate(750px);
  background-color:#f39c12;
  color:#03C9A9;
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
}
a:nth-child(7):hover ~ div {
  transform:translate(150px);
  -webkit-transform:translate(900px);
  background-color:#f39c12;
  color:#03C9A9;
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
}
a:nth-child(8):hover ~ div {
  transform:translate(150px);
  -webkit-transform:translate(1050px);
  background-color:#f39c12;
  color:#03C9A9;
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
}



a:nth-child(2):hover {
  color:#e74c3c;
}

a:nth-child(3):hover {
  color:#BF55EC;
}

a:nth-child(4):hover {
  color:#f39c12;
}
a:nth-child(5):hover {
  color:#e74c3c;
}

a:nth-child(6):hover {
  color:#BF55EC;
}

a:nth-child(7):hover {
  color:#f39c12;
}
a:nth-child(8):hover {
  color:#f39c12;
}